<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  	<localRepository>D:\java\repository</localRepository>    
	<pluginGroups/>    
	<proxies/>	 
	<servers/>       
	<mirrors> 
		<mirror>
			<id>aliyunmaven</id>
			<mirrorOf>*</mirrorOf>
			<name>阿里云公共仓库</name>
			<url>https://maven.aliyun.com/repository/public</url>
		</mirror>
	</mirrors> 
	<profiles> 
		<profile>
			<id>jdk18</id>
			<activation>
				<jdk>1.8</jdk>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<maven.compiler.source>1.8</maven.compiler.source>
				<maven.compiler.target>1.8</maven.compiler.target>
				<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
			</properties>
			<repository>
				<id>spring</id>
				<url>https://maven.aliyun.com/repository/spring</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</repository>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>jdk18</activeProfile> 
	</activeProfiles>
 
</settings>
